:host() {
    background-color: #242222;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px 5px 700px 1fr;
    grid-template-areas: ". sidemenu shadow content .";
}

#sidemenu {
    grid-area: sidemenu;
    background-color: #211f1f;
}

#shadow {
    grid-area: shadow;
    background-color: #242222;
}

#content {
    grid-area: content;
    background-color: #1c1c1c;
}