:host() {
    background-color: #242222;
    width: 100vw;
    height: 100vh;
    display: grid;
    /*grid-template-columns: 1fr 300px 100px 700px 1fr;*/
    grid-template-columns: 1fr 300px 5px 700px 1fr;
    grid-template-areas: "spaceLeft sidemenu shadow content spaceRight";
}

#spaceLeft {
    grid-area: spaceLeft;
}

#sidemenu {
    grid-area: sidemenu;
    background-color: #211f1f;
}

#shadow {
    grid-area: shadow;
    background-color: #242222;
    /*background-color: #1c1c1c;;
    -webkit-box-shadow: inset 71px 2px 40px -40px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 71px 2px 40px -40px rgba(0,0,0,0.7);
    box-shadow: inset 71px 2px 40px -40px rgba(0,0,0,0.7);*/
}

#content {
    grid-area: content;
    background-color: #1c1c1c;
}

#spaceRight {
    grid-area: spaceRight;
}

.fileUpload {
    display: none;
}