<h1>TAG-SELECT:</h1>
<div id="tag-select-container">
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
  <app-tag-select-item></app-tag-select-item>
</div>