#tag-select-container {
    padding: 5px;
    display: grid;
    grid-template-columns: minmax(min-content, 200px) minmax(min-content, 200px);
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    "titleSelected titleAvailable"
    "selected available";
}

#tag-select-container .headerSelected {
    grid-area: titleSelected;
    font-size: 20pt;
}

#tag-select-container .headerAvailable {
    grid-area: titleAvailable;
    font-size: 20pt;
}

#tag-select-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tag-select-container li {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.2s;
    border: 3px solid transparent;
}

#tag-select-container .available li:hover {
    transform: translateX(-15px);
    transition: all 0.2s;
}

#tag-select-container .selected li:hover {
    transform: translateX(15px);
    transition: all 0.2s;
}

#tag-select-container .selected {
    grid-area: selected;
}

#tag-select-container .available {
    grid-area: available;
}