<h1>Search</h1>
<div id="searchHeader">
  <select [(ngModel)]="searchBy" (change)="doSearch()">
    <option>Title</option>
    <option>Note</option>
  </select>
  <input type="text" [(ngModel)]="search" (input)="doSearch()">
</div>

<div *ngFor="let doc of foundDocuments" id="document">
  <h4>{{doc.title}}</h4>
  <p>{{doc.note}}</p>
  <br>
  <button (click)="download(doc)">Download</button>
  <button (click)="delete(doc)">Delete</button>
</div>
<p *ngIf="foundDocuments.length == 0">nothing found ¯\_(ツ)_/¯</p>