<div class="headline">
  <h1>Search</h1>
</div>

<div class="title">
  <app-textbox focus #titleTextbox label="Search for title" width="250px"></app-textbox>
</div>

<div class="textRecognitionEnabled">
  <input type="checkbox" [(ngModel)]="stateCheckBox.textRecognition">
  <span [className]="stateCheckBox.textRecognition ? 'active' : 'inactive'">
    Text-Recognition: 
    <input type="checkbox" [(ngModel)]="searchData.textRecognitionEnabled">
  </span>
</div>

<div class="note">
  <app-textbox #noteTextbox label="Search for note" width="250px"></app-textbox>
</div>

<div class="isInGroup">
    <input type="checkbox" [(ngModel)]="stateCheckBox.isInGroup">
    <span [className]="stateCheckBox.isInGroup ? 'active' : 'inactive'">
      Is in group: 
    <input type="checkbox" [(ngModel)]="searchData.isInGroup">
    </span>
</div>

<div class="numbers">
  <app-textbox #primaryNumberTextbox label="#1" width="50px"></app-textbox>
  <app-textbox #secondaryNumberTextbox label="#2" width="50px"></app-textbox>
</div>

<div class="date">
    <input type="checkbox" [(ngModel)]="stateCheckBox.date">
    <span [className]="stateCheckBox.date ? 'active' : 'inactive'">
      Date: 
      <input class="dateFrom" type="date" [(ngModel)]="searchData.dateFrom"><br>
      <input class="dateTo" type="date" [(ngModel)]="searchData.dateTo">
    </span>
</div>

<div class="tagSelector">
  <app-tag-select-container (tagsToSend)="tagsToSendList($event)"></app-tag-select-container>
</div>

<div class="searchButton">
  <div (click)="search()"><h2>SEARCH</h2></div>
</div>

<div class="results">
  <div *ngFor="let doc of foundDocuments" class="result">
    
    <div class="thumbnail">
      THMB
    </div>

    <div class="titleNote">
      <span class="title">{{doc.title}}</span>
      <span class="dot"> • </span>
      <span class="note">{{doc.note}}</span>
        
    </div>

    <div class="date">
        {{doc.createdAt | date:'MM-dd-yyyy'}}
    </div>

  </div>
  <div *ngIf="foundDocuments.length == 0" class="noResult">nothing found ¯\_(ツ)_/¯</div>
</div>





<!--
<div id="searchHeader">
  <select [(ngModel)]="searchBy" (change)="doSearch()">
    <option>Title</option>
    <option>Note</option>
  </select>
  <input type="text" [(ngModel)]="search" (input)="doSearch()">
</div>

<div *ngFor="let doc of foundDocuments" id="document">
  <h4>{{doc.title}}</h4>
  <p>{{doc.note}}</p>
  <br>
  <button (click)="download(doc)">Download</button>
  <button (click)="delete(doc)">Delete</button>
</div>
<p *ngIf="foundDocuments.length == 0">nothing found ¯\_(ツ)_/¯</p>-->