<div class="main">
  <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a routerLink="/search" routerLinkActive="active">Search</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a routerLink="/uploadSingleDocument" routerLinkActive="active">Upload Single Document</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a routerLink="/showTags" routerLinkActive="active">Show Tags</a>
  <span class="username">{{api.decodedJwt.username}}</span>
  <small class="version">v0.1-BETA</small>
</div>