.page-history {
    display: grid;
    grid-template-columns: 1fr 130px;
    grid-template-areas: "titleNote createdAt";
}

.grid-item {
    height: auto;
    padding: 4px;

    b {
        font-size: 14pt;
    }

    i {
        font-size: 12pt;
    }
}

.titleNote {
    grid-area: titleNote;
}

.createdAt {
    grid-area: createdAt;
}