:host() {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(6, auto);
    grid-template-areas:
    "headline"
    "title"
    "note"
    "textRecognition"
    "tagSelect"
    "selectFile"
    "upload";
    grid-auto-flow: row;
}

.gridItem {
    padding: 10px;
}

.headline {
    grid-area: headline;
    text-align: center;
}

.title {
    grid-area: title;
    font-size: 24pt;
}

.title input {
    font-size: 24pt;
    border-bottom: 2px dashed white;
    background-color: transparent;
}

.note {
    grid-area: note;
    font-size: 24pt;
}

.note input {
    font-size: 24pt;
    border-bottom: 2px dashed white;
    background-color: transparent;
}

.textRecognition {
    grid-area: textRecognition;
    font-size: 24pt;
}

.textRecognition span {
    padding-left: 5px;
}

.textRecognition input {
    width: 30px;
    height: 30px;
    transform: translateY(3px);
}

.tagSelector {
    grid-area: tagSelect;
    text-align: center;
}

.tagSelector app-tag-select-container {
    display: inline-block;
}

.selectFile {
    grid-area: selectFile;
}

.selectFile input {
    display: none;
}

.selectFile .clickDragDrop {
    height: 120px;
    border: 5px dashed rgb(47, 189, 255);
    color: #211f1f;
    font-size: 22pt;
    text-align: center;
    background-color: rgb(0,121,178);
    cursor: pointer;
}

.selectFile .clickDragDrop span {
    padding-top: 40px;
    display: inline-block;
    color: #dddddd;
    font-weight: bold;
    letter-spacing: 5px;
}

.upload {
    grid-area: upload;
    text-align: center;
}

.upload span {
    background-color: rgb(0,121,178);
    display: inline-block;
    height: 26px;
    width: 100px;
    color: #dddddd;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}