<div class="gridItem headline">
  <h1>Here you can upload a new document</h1>
</div>

<div class="gridItem title">
  <app-textbox label="Title" width="250px" (onChange)="changedTitle($event)"></app-textbox>
  <!--<input type="text" [(ngModel)]="document.title">-->
</div>

<div class="gridItem note">
  <app-textbox label="Note" width="100%" (onChange)="changedNote($event)"></app-textbox>
</div>

<div class="gridItem textRecognition">
  <input type="checkbox" disabled>
  <span>Allow Text-Recognition on document-content</span>
</div>

<div class="gridItem tagSelector">
  <app-tag-select-container (tagsToSend)="tagsToSendList($event)"></app-tag-select-container>
</div>

<div class="gridItem selectFile">
  <div class="clickDragDrop" (click)="fileSelectInput.click()">
    <span>
      SELECT FILE FOR UPLOAD
    </span>
  </div>
  <input #fileSelectInput type="file" class="selectFile" (change)="onFileChanged($event.target.files)"><br>
</div>

<div class="gridItem upload">
  <span (click)="onUpload()">UPLOAD</span>
</div>