<div class="gridItem headline">
  <h1>Here you can upload a new document</h1>
</div>

<div class="gridItem title">
  <span>
    Title:
  </span>
  <input type="text" [(ngModel)]="document.title">
</div>

<div class="gridItem note">
    <span>
      Note:
    </span>
    <input type="text" [(ngModel)]="document.note"><br>
</div>

<div class="gridItem textRecognition">
  <input type="checkbox" disabled>
  <span>Allow Text-Recognition on document-content</span>
</div>

<div class="gridItem tagSelector">
  <app-tag-select-container (tagsToSend)="tagsToSendList($event)"></app-tag-select-container>
</div>

<div class="gridItem selectFile">
  <div class="clickDragDrop" (click)="fileSelectInput.click()">
    <span *ngIf="fileSelectInput.files[0] == null" class="none-selected">
      SELECT FILE FOR UPLOAD
    </span>
    <span *ngIf="fileSelectInput.files[0] != null" class="selected">
      {{fileSelectInput.files[0].name}}
    </span>
  </div>
  <input #fileSelectInput type="file" class="selectFile" (change)="onFileChanged($event.target.files)"><br>
</div>

<div class="gridItem upload">
  <span (click)="onUpload()">UPLOAD</span>
</div>