#recentDocuments {
    /*background-color: rgba(38, 222, 130, 0.397);*/
    display: inline-block;
    padding: 8px; 
}
#document {
    list-style: none;
    margin-left: 15px;

    h4 {
        margin-bottom: 5px;
    }

    p {
        margin-top: 0;
        margin-bottom: 8px;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

#properties {
    display: inline;

    img {
        padding-right: 10px;
    }
}

button {
    color: blue;
}